<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Guruprasad Kora">

<title>ORNL UniFam</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/css/datasettings.css" rel="stylesheet">
</head>

<body>

<% include header.ejs %>
<div class="container">

	<div class="row">
		<div class="box">
			<div>
				<hr>
				<h2 class="intro-text text-center"><strong>Downloads</strong></h2>
				<hr>

				<form class="form-horizontal">
					<fieldset>

						<div class='form-group'>
							<div class='col-md-6 col-md-offset-3'>
								<p>

								<h4>UniFam</h4>
								<ul>
									<li>UniFam annotation pipeline v1.0.0 <a href='/downloads/UniFam_Annot_Pipeline_1.0.0.tar.gz'>Download</a></li>
									<li>UniFam Instructions <a href='/downloads/Manual.txt'>Download</a> </li>
									<li>UniFam DataBase <a href='/downloads/UniFam_all.tar.gz'>Download</a> </li>
									<li>UniFam_prok DataBase <a href='/downloads/UniFam_prok.tar.gz'>Download</a> </li>
									<li>UniFam_euk DataBase <a href='/downloads/UniFam_euk.tar.gz'>Download</a> </li>
								</ul>
								<br/><br/>
								<h4>Data</h4>
								<ul>
									<li>Pathway inference reports for finished prokaryotic genomes <a href='/downloads/pathway_gbk.tar.gz'>Download Data</a></li>
									<li>Pathway inference reports for draft prokaryotic genomes <a href='/downloads/pathway_wgs.tar.gz'>Download Data</a> </li>
								</ul>
								<br/><br/>
								<h4>Sample Input</h4>
								<ul>
									<li>Sample input of protein sequences <a href='/downloads/13791_1.faa'>Sample Input Download</a> </li>
									<li>Sample input of a genome’s contigs <a href='/downloads/13791_1.fna'>Sample Input Download</a> </li>
								</ul>
								<br/><br/>
								<h4>Sample Output</h4>
								<ul>
									<li>Sample output of protein annotations in flat format <a href='/downloads/13791.annot'>SampleOutput Download </a> </li>
								</ul>
								<br/><br/>

								</p>
							</div>
						</div>

					</fieldset>
				</form>

			</div>
		</div>
	</div>


</div><!-- /.container -->

<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p>Copyright &copy; ORNL 2013</p>
			</div>
		</div>
	</div>
</footer>

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
	$('#jobInputs').validate();
</script>

</body>
</html>
