<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Guruprasad Kora">

<title>ORNL UniFam</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/css/datasettings.css" rel="stylesheet">
</head>

<body>

<% include header.ejs %>

    <div class="container">

      <div class="row">
        <div class="box">
          <div>
            <hr>
            <h2 class="intro-text text-center">Annotation Pipeline <strong>Inputs</strong></h2>
            <hr>
            <p>
						User can either give a list of proteins as input for annotation to be used in downstream analysis, 
						or provide a fully sequenced genome. In the latter case, Prodigal will be used to predict protein-coding 
						genes in the genome and the coded proteins. UniFam is then used to annotate all these proteins. If desired, 
						the pipeline can also predict metabolic pathways using PathoLogic module of Pathway-tools, with the 
						all annotated proteins in a genome.
						</p>
						<hr>
						<form id='jobInputs' class="form-horizontal" enctype="multipart/form-data" method='post' action='/job'>
							<fieldset>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">Name</label>  
									<div class="col-md-6">
										<input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
										<span class="help-block">Please enter your name</span>  
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="email">Email</label>  
									<div class="col-md-6">
										<input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">
										<span class="help-block">Please enter you email, used for tracking your job</span>  
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="org">Organization</label>  
									<div class="col-md-6">
										<input id="org" name="org" type="text" placeholder="Organization" class="form-control input-md">
										<span class="help-block">Please enter your school or organization</span>  
									</div>
								</div>

								<hr>

                <!-- Select Basic -->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="jobType">Job Type</label>
                  <div class="col-md-6">
                    <select id="jobType" name="jobType" class="form-control">
                      <option value='single' >Prokaryotic Isolate Genome (fna, DNA sequence)</option>
                      <option value='meta' >Prokaryotic Metagenome (fna, DNA sequence) </option>
                      <option value='pp' >Prokaryotic Proteins (faa, Protein sequence) </option>
                      <option value='ep' >Eukaryotic Proteins (faa, Protein sequence) </option>
                      <option value='up' >Unknown-Superkingdom Proteins (faa, Protein sequence) </option>
                    </select>
                  </div>
                </div>

								<!-- File Button --> 
								<div class="form-group">
									<label class="col-md-3 control-label" for="inputFile">Input File</label>
									<div class="col-md-4">
										<input id="inputFile" name="inputFile" class="input-file" type="file" required='' >
									</div>
								</div>

                <hr>
							

								<!-- Select Basic
								<div class="form-group">
									<label class="col-md-3 control-label" for="domain">Domain</label>
									<div class="col-md-6">
										<select id="domain" name="domain" class="form-control">
											<option value="Bacteria">Bacteria</option>
											<option value="Archaea">Archaea</option>
										</select>
									</div>
								</div> -->


								<div id='prodigalOption'>
									<br/>
									<h4 style='padding-left:100px;'> Prodigal Options</h4>
									<br/>
									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="translationTable">Translation Table</label>  
										<div class="col-md-6">
											<select id="translationTable" name="translationTable" class="form-control">
												<option value="04">04</option>
												<option value="11">11</option>
												<option value="25">25</option>
											</select>
										</div>
									</div>

									<hr>
								</div>

								<br/>
								<h4 style='padding-left:100px;'> UniFam Options</h4>
								<br/>
								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="projectName">Project Name</label>  
									<div class="col-md-6">
										<input id="projectName" name="projectName" type="text" placeholder="Name" class="form-control input-md" required='' >
										<span class="help-block">Project name, used to prepend file names.</span>  
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="seqCoverage">Sequence Coverage</label>  
									<div class="col-md-6">
										<input id="seqCoverage" name="seqCoverage" type="text" placeholder="" value='0.5' class="form-control input-md">
										<span class="help-block">Sequence coverage of the aligned regioin in HMM search</span>  
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="hmmCoverage">HMM Coverage 1</label>  
									<div class="col-md-6">
										<input id="hmmCoverage" name="hmmCoverage" type="text" placeholder="" value='0.5' class="form-control input-md">
										<span class="help-block">HMM coverage of the aligned regioin in HMM search</span>  
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="hmmEval">E-Value Cutoff</label>  
									<div class="col-md-6">
										<input id="hmmEval" name="hmmEval" type="text" value='0.0001' placeholder="" class="form-control input-md">
										<span class="help-block">Please enter whole sequence e-value cutoff</span>  
									</div>
								</div>

                <hr>

								<div id='pathOption'>
									<br/>
									<h4 style='padding-left:100px;'> Pathologic (Pathway tools) Options</h4>
									<br/>
									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="orgName">Organism Name</label>  
										<div class="col-md-6">
											<input id="orgName" name="orgName" type="text" placeholder="Name" value='Unknown' class="form-control input-md" required='' >
										</div>
									</div>

									<!-- Select Basic -->
									<div class="form-group">
										<label class="col-md-3 control-label" for="pdomain">Domain</label>
										<div class="col-md-6">
											<select id="pdomain" name="pdomain" class="form-control">
												<option value="bac">Bacteria</option>
												<option value="arc">Archaea</option>
												<!--<option value="Eukaryote">Eukaryote</option> -->
												<option value="org">Unknown</option>
											</select>
										</div>
									</div>

									<!-- Text input-->
									<!--
									<div class="form-group">
										<label class="col-md-3 control-label" for="mitoTable">Mitochondrial Table</label>  
										<div class="col-md-6">
											<select id="pdomain" name="mitaTable" class="form-control">
												<option value="1">1</option>
											</select>
										</div>
									</div>
									-->

									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="taxId">NCBI Taxonomy Id</label>  
										<div class="col-md-6">
											<input id="taxId" name="taxId" type="text" placeholder="" value='Unknown' class="form-control input-md">
										</div>
									</div>

									<hr>
								</div>


								<!-- Button -->
								<div class="form-group">
									<div class="col-md-4 col-md-offset-5">
										<button id="execJob" name="execJob" class="btn btn-primary">Submit Job</button>
									</div>
								</div>

							</fieldset>
						</form>

          </div>
        </div>
      </div>

    </div><!-- /.container -->

<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p>Copyright &copy; ORNL 2013</p>
			</div>
		</div>
	</div>
</footer>

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
$('#jobInputs').validate();
$('#jobType').on('change', function() {
		if ( this.value === 'single' || this.value === 'meta') {
			$('#prodigalOption').show();
		} else {
			$('#prodigalOption').hide();
		}

		if ( this.value === 'single' ) {
			$('#pathOption').show();
		} else {
			$('#pathOption').hide();
		}
});
</script>

</body>
</html>
