<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Guruprasad Kora">

<title>ORNL UniFam</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/css/datasettings.css" rel="stylesheet">
</head>

<body>

<% include header.ejs %>
<div class="container">

	<div class="row">
		<div class="box">
			<div>
				<hr>
				<h2 class="intro-text text-center"><strong>Locate</strong> your Annotation Pipeline </h2>
				<hr>

				<form id='locate' class="form-horizontal" enctype="multipart/form-data" method='post' action='/locate'>
					<fieldset>

						<div class='form-group'>
							<div class='col-md-6 col-md-offset-3'>
								<p>
								Have you previously submitted job with us ? If yes, please enter your job id that was emailed to you in the below field and click the button.
								</p>
								<p>
								If you havent' submitted a previous job with us, you can submit one by clicking <a href='/job'>here</a>.
								</p>
								<br/><br/>
							</div>
						</div>

						<div class='form-group'>
							<div class='col-md-6 col-md-offset-3'>

								<p class="input-group">
								<span class="input-group-addon">UniFam Job Id</span>
									<input type="text" class="form-control input-lg" name="id" placeholder="" />
									</p>
									<p class="help-block text-center"><small>We'll try to locate your job. Hang tight!</small></p>
									<p class="text-center">
									<button type="submit" class="btn btn-success btn-lg">Fetch the Job Details</button>
									</p>
								</span>
							</div>
						</div>


					</fieldset>
				</form>

			</div>
		</div>
	</div>

</div><!-- /.container -->

<% include footer.ejs %>

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
	$('#jobInputs').validate();
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62400488-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
