<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Guruprasad Kora">

<title>ORNL UniFam</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/css/datasettings.css" rel="stylesheet">
</head>

<body>

<div class="brand">UniFam</div>
<div class="address-bar">Pipeline to Annotate Proteins</div>

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/job">Submit a Job</a></li>
				<li><a href="/locate">Locate Job</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>

    <div class="container">

      <div class="row">
        <div class="box">
          <div>
            <hr>
            <h2 class="intro-text text-center">Job <strong>Status</strong></h2>
            <hr>
						<div class='text-center'>
							<i class="fa fa-search fa-2x"> Searching Job </i><br/></br>
							<strong>Job Found</strong><br/>
							Job Id  <span class="label label-primary"><%= id %> </span> <br/></br>
							<h2> Current Status </h2>
							<center>
								<table class='text-center pull-center'>
									<tr>
										<td class='text-success'><i class="fa fa-check-square-o"></i></td>
										<td style='padding:0 30px 0 30px;'><i class="fa fa-arrow-right"></i></td>
										<td class='text-muted'><i class="fa fa-square-o"></i></td>
										<td style='padding:0 30px 0 30px;'><i class="fa fa-arrow-right"></i></td>
										<td class='text-muted'><i class="fa fa-square-o"></i></td>
										<td style='padding:0 30px 0 30px;'><i class="fa fa-arrow-right"></i></td>
										<td class='text-muted'><i class="fa fa-square-o"></i></td>
									</tr>
									<tr>
										<td class='text-success'>Job Submitted</td>
										<td>&nbsp;</td>
										<td class='text-muted'>Job In Queue</td>
										<td>&nbsp;</td>
										<td class='text-muted'>Job In Execution</td>
										<td>&nbsp;</td>
										<td class='text-muted'>Job Execution Complete</td>
									</tr>
								</table>
							</center>
							
						</div>

          </div>
        </div>
      </div>

    </div><!-- /.container -->

<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p>Copyright &copy; ORNL 2013</p>
			</div>
		</div>
	</div>
</footer>

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
	$('#jobInputs').validate();
</script>

</body>
</html>
